<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">
        
        
	<!-- jxm test eg -->
		
	<bean id="projectImpl" class="com.insigma.impl.ProjectImpl" />
	<dubbo:service interface="com.insigma.facade.openapi.ProjectFacade" ref="projectImpl"
				   version="1.0.1.gzd" delay="-1" retries="0"  />

	<bean id="interfaceServiceImpl" class="com.insigma.impl.InterfaceServiceImpl" />
	<dubbo:service interface="com.insigma.facade.openapi.facade.InterfaceFacade" ref="interfaceServiceImpl"
				   version="1.0.1.gzd" delay="-1" retries="0"  />
	
	<!--<bean id="openapiInterfaceGroupServiceImpl" class="com.insigma.impl.OpenapiInterfaceGroupServiceImpl" />-->
	<!--<dubbo:service interface="com.insigma.facade.openapi.facade.OpenapiInterfaceGroupFacade" ref="openapiInterfaceGroupServiceImpl"-->
				   <!--version="1.0.1.gzd" delay="-1" retries="0"  />-->

	<bean id="openapiAppServiceImpl" class="com.insigma.impl.OpenapiAppServiceImpl" />
	<dubbo:service interface="com.insigma.facade.openapi.facade.OpenapiAppFacade" ref="openapiAppServiceImpl"
				   version="1.0.1.gzd" delay="-1" retries="0"  />

	<bean id="openapiInterfaceTypeServiceImpl" class="com.insigma.impl.OpenapiInterfaceTypeServiceImpl" />
	<dubbo:service interface="com.insigma.facade.openapi.facade.OpenapiInterfaceTypeFacade" ref="openapiInterfaceTypeServiceImpl"
				   version="1.0.1.gzd" delay="-1" retries="0"  />

	<bean id="openapiInterfaceHistoryServiceImpl" class="com.insigma.impl.OpenapiInterfaceHistoryServiceImpl" />
	<dubbo:service interface="com.insigma.facade.openapi.facade.OpenapiInterfaceHistoryFacade" ref="openapiInterfaceHistoryServiceImpl"
				   version="1.0.1.gzd" delay="-1" retries="0"  />

	<bean id="openapiEarlyWarningServiceImpl" class="com.insigma.impl.OpenapiEarlyWarningServiceImpl" />
	<dubbo:service interface="com.insigma.facade.openapi.facade.OpenapiEarlyWarningFacade" ref="openapiEarlyWarningServiceImpl"
				   version="1.0.1.gzd" delay="-1" retries="0"  />

	<bean id="openapiAppTypeServiceImpl" class="com.insigma.impl.OpenapiAppTypeServiceImpl" />
	<dubbo:service interface="com.insigma.facade.openapi.facade.OpenapiAppTypeFacade" ref="openapiAppTypeServiceImpl"
				   version="1.0.1.gzd" delay="-1" retries="0"  />

</beans>