<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">
        
        
	<!-- jxm test eg -->
		
<!--	<bean id="projectImpl" class="com.insigma.impl.ProjectImpl" />-->
<!--	<dubbo:service interface="com.insigma.facade.openapi.ProjectFacade" ref="projectImpl"-->
<!--				   version="1.0.1" delay="-1" retries="0"  />-->

	<bean id="interfaceServiceImpl" class="com.insigma.impl.InterfaceServiceImpl" />
	<dubbo:service interface="com.insigma.facade.openapi.facade.InterfaceFacade" ref="interfaceServiceImpl"
				   version="1.0.1" delay="-1" retries="0"  />

	<!--<bean id="openapiInterfaceGroupServiceImpl" class="com.insigma.impl.OpenapiInterfaceGroupServiceImpl" />-->
	<!--<dubbo:service interface="com.insigma.facade.openapi.facade.OpenapiInterfaceGroupFacade" ref="openapiInterfaceGroupServiceImpl"-->
				   <!--version="1.0.1" delay="-1" retries="0"  />-->

	<bean id="openapiAppServiceImpl" class="com.insigma.impl.OpenapiAppServiceImpl" />
	<dubbo:service interface="com.insigma.facade.openapi.facade.OpenapiAppFacade" ref="openapiAppServiceImpl"
				   version="1.0.1" delay="-1" retries="0"  />

	<bean id="openapiInterfaceTypeServiceImpl" class="com.insigma.impl.OpenapiInterfaceTypeServiceImpl" />
	<dubbo:service interface="com.insigma.facade.openapi.facade.OpenapiInterfaceTypeFacade" ref="openapiInterfaceTypeServiceImpl"
				   version="1.0.1" delay="-1" retries="0"  />

	<bean id="openapiInterfaceHistoryServiceImpl" class="com.insigma.impl.OpenapiInterfaceHistoryServiceImpl" />
	<dubbo:service interface="com.insigma.facade.openapi.facade.OpenapiInterfaceHistoryFacade" ref="openapiInterfaceHistoryServiceImpl"
				   version="1.0.1" delay="-1" retries="0"  />

	<bean id="openapiEarlyWarningServiceImpl" class="com.insigma.impl.OpenapiEarlyWarningServiceImpl" />
	<dubbo:service interface="com.insigma.facade.openapi.facade.OpenapiEarlyWarningFacade" ref="openapiEarlyWarningServiceImpl"
				   version="1.0.1" delay="-1" retries="0"  />


	<bean id="openapiBlackWhiteServiceImpl" class="com.insigma.impl.OpenapiBlackWhiteServiceImpl" />
	<dubbo:service interface="com.insigma.facade.openapi.facade.OpenapiBlackWhiteFacade" ref="openapiBlackWhiteServiceImpl"
				   version="1.0.1" delay="-1" retries="0"  />

	<bean id="openapiAuditServiceImpl" class="com.insigma.impl.OpenapiAuditServiceImpl" />
	<dubbo:service interface="com.insigma.facade.openapi.facade.OpenapiAuditFacade" ref="openapiAuditServiceImpl"
				   version="1.0.1" delay="-1" retries="0"  />

	<bean id="openapiAppTypeServiceImpl" class="com.insigma.impl.OpenapiAppTypeServiceImpl" />
	<dubbo:service interface="com.insigma.facade.openapi.facade.OpenapiAppTypeFacade" ref="openapiAppTypeServiceImpl"
				   version="1.0.1" delay="-1" retries="0"  />

	<bean id="openapiAppInterfaceServiceImpl" class="com.insigma.impl.OpenapiAppInterfaceServiceImpl" />
	<dubbo:service interface="com.insigma.facade.openapi.facade.OpenapiAppInterfaceFacade" ref="openapiAppInterfaceServiceImpl"
				   version="1.0.1" delay="-1" retries="0"  />

	<bean id="openapiMonitoringDataConfigServiceImpl" class="com.insigma.impl.OpenapiMonitoringDataConfigServiceImpl" />
	<dubbo:service interface="com.insigma.facade.openapi.facade.OpenapiMonitoringDataConfigFacade" ref="openapiMonitoringDataConfigServiceImpl"
				   version="1.0.1" delay="-1" retries="0"  />


	<bean id="openapiDictionaryServiceImpl" class="com.insigma.impl.OpenapiDictionaryServiceImpl" />
	<dubbo:service interface="com.insigma.facade.openapi.facade.OpenapiDictionaryFacade" ref="openapiDictionaryServiceImpl"
				   version="1.0.1" delay="-1" retries="0"  />

	<bean id="openapiOrgServiceImpl" class="com.insigma.impl.OpenapiOrgServiceImpl" />
	<dubbo:service interface="com.insigma.facade.openapi.facade.OpenapiOrgFacade" ref="openapiOrgServiceImpl"
				   version="1.0.1" delay="-1" retries="0"  />

	<bean id="openapiSelfmachineServiceImpl" class="com.insigma.impl.OpenapiSelfmachineServiceImpl" />
	<dubbo:service interface="com.insigma.facade.openapi.facade.OpenapiSelfmachineFacade" ref="openapiSelfmachineServiceImpl"
				   version="1.0.1" delay="-1" retries="0"  />
	<bean id="openapiSelfmachineRequestServiceImpl" class="com.insigma.impl.OpenapiSelfmachineRequestServiceImpl" />
	<dubbo:service interface="com.insigma.facade.openapi.facade.OpenapiSelfmachineRequestFacade" ref="openapiSelfmachineRequestServiceImpl"
				   version="1.0.1" delay="-1" retries="0"  />

	<bean id="openapiOrgShortnameServiceImpl" class="com.insigma.impl.OpenapiOrgShortnameServiceImpl" />
	<dubbo:service interface="com.insigma.facade.openapi.facade.OpenapiOrgShortnameFacade" ref="openapiOrgShortnameServiceImpl"
				   version="1.0.1" delay="-1" retries="0"  />

	<bean id="openapiSelfmachineAddressServiceImpl" class="com.insigma.impl.OpenapiSelfmachineAddressServiceImpl" />
	<dubbo:service interface="com.insigma.facade.openapi.facade.OpenapiSelfmachineAddressFacade" ref="openapiSelfmachineAddressServiceImpl"
				   version="1.0.1" delay="-1" retries="0"  />

	<bean id="openapiSelfmachineTypeServiceImpl" class="com.insigma.impl.OpenapiSelfmachineTypeServiceImpl" />
	<dubbo:service interface="com.insigma.facade.openapi.facade.OpenapiSelfmachineTypeFacade" ref="openapiSelfmachineTypeServiceImpl"
				   version="1.0.1" delay="-1" retries="0"  />
</beans>