<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">


	<dubbo:reference id="levyRulesParameterFacade" 
		interface="com.insigma.facade.LevyRulesParameterFacade" version="1.0.1" />
	<dubbo:reference id="businessPeriodFacade" 
		interface="com.insigma.facade.BusinessPeriodFacade" version="1.0.1" />
	<dubbo:reference id="codeFacade" 
		interface="com.insigma.facade.CodeFacade" version="1.0.1" />
	<dubbo:reference id="regionArchivesFacade" 
		interface="com.insigma.facade.RegionArchivesFacade" version="1.0.1" />
	<!-- transfer -->
	<dubbo:reference id="TransferQueryFacade" 
		interface="com.insigma.transfer.facade.TransferQueryFacade" version="1.0.1" />
</beans>