<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">
	
	<!-- openapi -->
	<dubbo:reference id="projectFacade" interface="com.insigma.facade.openapi.ProjectFacade"
		version="1.0.1.gzd" />

	<dubbo:reference id="interfaceFacade" interface="com.insigma.facade.openapi.facade.InterfaceFacade"
					 version="1.0.1.gzd" />

	<!--<dubbo:reference id="openapiInterfaceGroupFacade" interface="com.insigma.facade.openapi.facade.OpenapiInterfaceGroupFacade"-->
					 <!--version="1.0.1" />-->

	<!--用户模块-->
	<dubbo:reference id="openapiUserFacade" interface="com.insigma.facade.openapi.facade.OpenapiUserFacade"
					 version="1.0.1.gzd" />

	<!--应用模块-->
	<dubbo:reference id="openapiAppFacade" interface="com.insigma.facade.openapi.facade.OpenapiAppFacade"
					 version="1.0.1.gzd" />

	<dubbo:reference id="openapiInterfaceTypeFacade" interface="com.insigma.facade.openapi.facade.OpenapiInterfaceTypeFacade"
					 version="1.0.1.gzd" />

	<!--yingy模块-->
	<dubbo:reference id="ftpManageFacade" interface="com.insigma.facade.ftp.FtpManageFacade"
					 version="1.0.1" />

	<!--yingy模块-->
	<dubbo:reference id="cdGatewayRequestDetailBdFacade" interface="com.insigma.facade.facade.CdGatewayRequestDetailBdFacade"
					 version="1.0.1" />
</beans>