<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">
	
	<!-- socket -->
<!--	<dubbo:reference id="projectFacade" interface="com.insigma.facade.socket.ProjectFacade"-->
<!--		version="1.0.1.gzd" />-->

<!--	<dubbo:reference id="interfaceFacade" interface="com.insigma.facade.socket.facade.InterfaceFacade"-->
<!--					 version="1.0.1.gzd" />-->

<!--	&lt;!&ndash;<dubbo:reference id="socketInterfaceGroupFacade" interface="com.insigma.facade.socket.facade.socketInterfaceGroupFacade"&ndash;&gt;-->
<!--					 &lt;!&ndash;version="1.0.1.gzd" />&ndash;&gt;-->

<!--	&lt;!&ndash;用户模块&ndash;&gt;-->
<!--	<dubbo:reference id="socketUserFacade" interface="com.insigma.facade.socket.facade.socketUserFacade"-->
<!--					 version="1.0.1.gzd" />-->

<!--	&lt;!&ndash;应用模块&ndash;&gt;-->
<!--	<dubbo:reference id="socketAppFacade" interface="com.insigma.facade.socket.facade.socketAppFacade"-->
<!--					 version="1.0.1.gzd" />-->

<!--	<dubbo:reference id="socketInterfaceTypeFacade" interface="com.insigma.facade.socket.facade.socketInterfaceTypeFacade"-->
<!--					 version="1.0.1.gzd" />-->

<!--	<dubbo:reference id="socketInterfaceHistoryFacade" interface="com.insigma.facade.socket.facade.socketInterfaceHistoryFacade"-->
<!--					 version="1.0.1.gzd" />-->

<!--	<dubbo:reference id="socketAppTypeFacade" interface="com.insigma.facade.socket.facade.socketAppTypeFacade"-->
<!--					 version="1.0.1.gzd" />-->
<!--	&lt;!&ndash;yingy模块&ndash;&gt;-->


<!--	<dubbo:reference id="socketEarlyWarningFacade" interface="com.insigma.facade.socket.facade.socketEarlyWarningFacade"-->
<!--					 version="1.0.1.gzd" />-->

<!--	<dubbo:reference id="socketBlackWhiteFacade" interface="com.insigma.facade.socket.facade.socketBlackWhiteFacade"-->
<!--					 version="1.0.1.gzd" />-->

<!--	&lt;!&ndash;审核管理模块&ndash;&gt;-->
<!--    <dubbo:reference id="socketAuditFacade" interface="com.insigma.facade.socket.facade.socketAuditFacade"-->
<!--                     version="1.0.1.gzd" />-->

<!--	&lt;!&ndash;审核管理模块&ndash;&gt;-->
<!--	<dubbo:reference id="socketAppInterfaceFacade" interface="com.insigma.facade.socket.facade.socketAppInterfaceFacade"-->
<!--					 version="1.0.1.gzd" />-->

<!--	&lt;!&ndash;审核管理模块&ndash;&gt;-->
<!--	<dubbo:reference id="socketMonitoringDataConfigFacade" interface="com.insigma.facade.socket.facade.socketMonitoringDataConfigFacade"-->
<!--					 version="1.0.1.gzd" />-->


<!--	<dubbo:reference id="socketDictionaryFacade" interface="com.insigma.facade.socket.facade.socketDictionaryFacade"-->
<!--					 version="1.0.1.gzd" />-->


<!--	<dubbo:reference id="socketOrgFacade" interface="com.insigma.facade.socket.facade.socketOrgFacade"-->
<!--					 version="1.0.1.gzd" />-->

<!--	<dubbo:reference id="socketSelfmachineRequestFacade" interface="com.insigma.facade.socket.facade.socketSelfmachineRequestFacade"-->
<!--					 version="1.0.1.gzd" />-->

<!--	<dubbo:reference id="socketSelfmachineFacade" interface="com.insigma.facade.socket.facade.socketSelfmachineFacade"-->
<!--					 version="1.0.1.gzd" />-->


<!--	<dubbo:reference id="socketOrgShortnameFacade" interface="com.insigma.facade.socket.facade.socketOrgShortnameFacade"-->
<!--					 version="1.0.1.gzd" />-->

<!--	<dubbo:reference id="socketSelfmachineTypeFacade" interface="com.insigma.facade.socket.facade.socketSelfmachineTypeFacade"-->
<!--					 version="1.0.1.gzd" />-->

<!--	<dubbo:reference id="socketSelfmachineAddressFacade" interface="com.insigma.facade.socket.facade.socketSelfmachineAddressFacade"-->
<!--					 version="1.0.1.gzd" />-->

</beans>