<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">

	<!-- 提供方应用信息，用于计算依赖关系 -->
	<dubbo:application name="fiscobcos-services-info" organization="${dubbo.organization}" />
	<!-- 用dubbo协议暴露服务 -->
	<dubbo:protocol name="dubbo" port="${fiscobcos-services-info.port}" threadpool="limited" />
	<!-- 使用定制的loadbalance -->
    <dubbo:provider loadbalance="${dubbo.loadbalance}" />
	<dubbo:consumer loadbalance="${dubbo.loadbalance}" cluster="${dubbo.consumer.cluster}"  />

	<!-- 使用per暴露服务地址 -->
	<dubbo:registry id="servicesRegistry" group="dubbo" protocol="zookeeper" address="${zookeeper.list}" file="/tmp/dubbo.${project.name}.cache" />


</beans>