<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insigma.mapper.OpenapiOrgMapper">

<!--    <resultMap id="BASE-RESULT" type="com.insigma.facade.po.OpenapiOrg">-->
<!--                <result property="id" column="id" />-->
<!--        <result property="orgId" column="org_id" />-->
<!--        <result property="orgName" column="org_name" />-->
<!--        <result property="areaId" column="area_id" />-->
<!--        <result property="areaName" column="area_name" />-->
<!--        <result property="ipSegment" column="ip_segment" />-->
<!--        <result property="appKey" column="app_key" />-->
<!--        <result property="appSecret" column="app_secret" />-->
<!--        <result property="certificateKey" column="certificate_key" />-->
<!--        <result property="limitCount" column="limit_count" />-->
<!--        <result property="accessTimeStart" column="access_time_start" />-->
<!--        <result property="accessTimeFinal" column="access_time_final" />-->
<!--        <result property="certificate" column="certificate" />-->
<!--        <result property="distribution" column="distribution" />-->
<!--        <result property="isDelete" column="is_delete" />-->
<!--        <result property="createTime" column="create_time" />-->
<!--        <result property="creatorId" column="creator_id" />-->
<!--        <result property="creatorName" column="creator_name" />-->
<!--        <result property="modifyTime" column="modify_time" />-->
<!--        <result property="modifyId" column="modify_id" />-->
<!--        <result property="modifyName" column="modify_name" />-->

<!--    </resultMap>-->

    <select id="getSelfMachine" resultType="com.insigma.facade.openapi.dto.SelfMachineOrgDTO">
        SELECT org_id,org_name FROM `openapi_org` GROUP BY org_id
    </select>

    <!--<insert id="insert" parameterType="com.insigma.facade.po.OpenapiOrg">-->
    <!--INSERT INTO openapi_org ( -->
    <!--org_id,org_name,area_id,area_name,ip_segment,app_key,app_secret,certificate_key,limit_count,access_time_start,access_time_final,certificate,distribution,is_delete,create_time,creator_id,creator_name,modify_time,modify_id,modify_name			-->
    <!--) VALUES (-->
    <!--#{orgId},#{orgName},#{areaId},#{areaName},#{ipSegment},#{appKey},#{appSecret},#{certificateKey},#{limitCount},#{accessTimeStart},#{accessTimeFinal},#{certificate},#{distribution},#{isDelete},#{createTime},#{creatorId},#{creatorName},#{modifyTime},#{modifyId},#{modifyName}		-->
    <!--)   -->
    <!--<selectKey resultType="Integer" keyProperty="id">    -->
    <!--SELECT LAST_INSERT_ID()     -->
    <!--</selectKey> -->
    <!--</insert>-->
    <!---->
    <!--<update id="update" parameterType="com.insigma.facade.po.OpenapiOrg" >-->
    <!--UPDATE-->
    <!--openapi_org-->
    <!--SET-->
    <!--            <if test="id!=null"> id = #{id} </if>
            <if test="orgId!=null">, org_id = #{orgId} </if>
            <if test="orgName!=null">, org_name = #{orgName} </if>
            <if test="areaId!=null">, area_id = #{areaId} </if>
            <if test="areaName!=null">, area_name = #{areaName} </if>
            <if test="ipSegment!=null">, ip_segment = #{ipSegment} </if>
            <if test="appKey!=null">, app_key = #{appKey} </if>
            <if test="appSecret!=null">, app_secret = #{appSecret} </if>
            <if test="certificateKey!=null">, certificate_key = #{certificateKey} </if>
            <if test="limitCount!=null">, limit_count = #{limitCount} </if>
            <if test="accessTimeStart!=null">, access_time_start = #{accessTimeStart} </if>
            <if test="accessTimeFinal!=null">, access_time_final = #{accessTimeFinal} </if>
            <if test="certificate!=null">, certificate = #{certificate} </if>
            <if test="distribution!=null">, distribution = #{distribution} </if>
            <if test="isDelete!=null">, is_delete = #{isDelete} </if>
            <if test="createTime!=null">, create_time = #{createTime} </if>
            <if test="creatorId!=null">, creator_id = #{creatorId} </if>
            <if test="creatorName!=null">, creator_name = #{creatorName} </if>
            <if test="modifyTime!=null">, modify_time = #{modifyTime} </if>
            <if test="modifyId!=null">, modify_id = #{modifyId} </if>
            <if test="modifyName!=null">, modify_name = #{modifyName} </if>
-->
    <!--<where>-->
    <!--id = #{id}-->
    <!--</where>-->
    <!--</update>-->
    <!---->
    <!---->

    <!---->
    <!--<delete id="deleteByKey">-->
    <!--DELETE FROM-->
    <!--openapi_org-->
    <!--<where>-->
    <!--id = #{key}-->
    <!--</where>-->
    <!--</delete>-->
    <!---->
    <!--<select id="findEntitys" parameterType="map" resultMap="BASE-RESULT">-->
    <!--SELECT * FROM-->
    <!--openapi_org-->
    <!--<where>-->
    <!--<include refid="compareParamColumns" />-->
    <!--</where>-->
    <!--<if test="param.orderByStr!=null">-->
    <!--order by ${param.orderByStr}-->
    <!--</if>-->
    <!--<if test="param.start!=null and param.pageNum!=null">LIMIT #{param.start},#{param.pageNum}</if>-->
    <!--</select>-->


    <!--<select id="getEntitysCount" parameterType="map" resultType="int">-->
    <!--SELECT count(*) FROM-->
    <!--openapi_org-->
    <!--<where>-->
    <!--<include refid="compareParamColumns" />-->
    <!--</where>-->
    <!--</select>-->
    <!---->
    <!--<sql id="compareParamColumns">-->
    <!--1-->
    <!--        <if test="param.id!=null">
            AND  id = #{param.id}
        </if>
        <if test="param.orgId!=null">
            AND  org_id = #{param.orgId}
        </if>
        <if test="param.orgName!=null">
            AND  org_name = #{param.orgName}
        </if>
        <if test="param.areaId!=null">
            AND  area_id = #{param.areaId}
        </if>
        <if test="param.areaName!=null">
            AND  area_name = #{param.areaName}
        </if>
        <if test="param.ipSegment!=null">
            AND  ip_segment = #{param.ipSegment}
        </if>
        <if test="param.appKey!=null">
            AND  app_key = #{param.appKey}
        </if>
        <if test="param.appSecret!=null">
            AND  app_secret = #{param.appSecret}
        </if>
        <if test="param.certificateKey!=null">
            AND  certificate_key = #{param.certificateKey}
        </if>
        <if test="param.limitCount!=null">
            AND  limit_count = #{param.limitCount}
        </if>
        <if test="param.accessTimeStart!=null">
            AND  access_time_start = #{param.accessTimeStart}
        </if>
        <if test="param.accessTimeFinal!=null">
            AND  access_time_final = #{param.accessTimeFinal}
        </if>
        <if test="param.certificate!=null">
            AND  certificate = #{param.certificate}
        </if>
        <if test="param.distribution!=null">
            AND  distribution = #{param.distribution}
        </if>
        <if test="param.isDelete!=null">
            AND  is_delete = #{param.isDelete}
        </if>
        <if test="param.createTime!=null">
            AND  create_time = #{param.createTime}
        </if>
        <if test="param.creatorId!=null">
            AND  creator_id = #{param.creatorId}
        </if>
        <if test="param.creatorName!=null">
            AND  creator_name = #{param.creatorName}
        </if>
        <if test="param.modifyTime!=null">
            AND  modify_time = #{param.modifyTime}
        </if>
        <if test="param.modifyId!=null">
            AND  modify_id = #{param.modifyId}
        </if>
        <if test="param.modifyName!=null">
            AND  modify_name = #{param.modifyName}
        </if>
-->
    <!--</sql>-->

</mapper>
