<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insigma.mapper.OpenapiInterfaceRequestParamMapper">

    <resultMap id="openapiInterfaceRequestParam" type="com.insigma.facade.openapi.po.OpenapiInterfaceRequestParam">
                <result property="id" column="id" />
        <result property="interfaceId" column="interface_id" />
        <result property="typeCode" column="type_code" />
        <result property="description" column="description" />
        <result property="isDelete" column="is_delete" />
        <result property="parentId" column="parent_id" />
        <result property="createTime" column="create_time" />
        <result property="modifyTime" column="modify_time" />
        <collection property="children" column="id"
                    ofType="com.insigma.facade.openapi.po.OpenapiInterfaceRequestParam"
                    select="selectNode"/>
    </resultMap>


    <select id="selectParamterTree" parameterType="map" resultMap="openapiInterfaceRequestParam" flushCache="true" useCache="false">
    SELECT * FROM
    openapi_interface_request_param
    <where>
      is_delete =0
      and interface_id=#{id}
      and parent_id is null
    </where>
    </select>

    <select id="selectNode"  resultMap="openapiInterfaceRequestParam" flushCache="true" useCache="false">
        SELECT * FROM
        openapi_interface_request_param
        <where>
            parent_id=#{id}
        </where>
    </select>

    <!--<insert id="insert" parameterType="com.insigma.facade.openapi.po.OpenapiInterfaceRequestParam">-->
    <!--INSERT INTO openapi_interface_request_param ( -->
    <!--interface_id,type_code,description,is_delete,parent_id,create_time,modify_time			-->
    <!--) VALUES (-->
    <!--#{interfaceId},#{typeCode},#{description},#{isDelete},#{parentId},#{createTime},#{modifyTime}		-->
    <!--)   -->
    <!--<selectKey resultType="Integer" keyProperty="id">    -->
    <!--SELECT LAST_INSERT_ID()     -->
    <!--</selectKey> -->
    <!--</insert>-->
    <!---->
    <!--<update id="update" parameterType="com.insigma.facade.openapi.po.OpenapiInterfaceRequestParam" >-->
    <!--UPDATE-->
    <!--openapi_interface_request_param-->
    <!--SET-->
    <!--            <if test="id!=null"> id = #{id} </if>
            <if test="interfaceId!=null">, interface_id = #{interfaceId} </if>
            <if test="typeCode!=null">, type_code = #{typeCode} </if>
            <if test="description!=null">, description = #{description} </if>
            <if test="isDelete!=null">, is_delete = #{isDelete} </if>
            <if test="parentId!=null">, parent_id = #{parentId} </if>
            <if test="createTime!=null">, create_time = #{createTime} </if>
            <if test="modifyTime!=null">, modify_time = #{modifyTime} </if>
-->
    <!--<where>-->
    <!--id = #{id}-->
    <!--</where>-->
    <!--</update>-->
    <!---->
    <!---->
    <!--<select id="getByKey" resultMap="BASE-RESULT">-->
    <!--SELECT * FROM-->
    <!--openapi_interface_request_param-->
    <!--<where>-->
    <!--id = #{key}-->
    <!--</where>-->
    <!--</select>-->
    <!---->
    <!--<delete id="deleteByKey">-->
    <!--DELETE FROM-->
    <!--openapi_interface_request_param-->
    <!--<where>-->
    <!--id = #{key}-->
    <!--</where>-->
    <!--</delete>-->
    <!---->
    <!--<select id="findEntitys" parameterType="map" resultMap="BASE-RESULT">-->
    <!--SELECT * FROM-->
    <!--openapi_interface_request_param-->
    <!--<where>-->
    <!--<include refid="compareParamColumns" />-->
    <!--</where>-->
    <!--<if test="param.orderByStr!=null">-->
    <!--order by ${param.orderByStr}-->
    <!--</if>-->
    <!--<if test="param.start!=null and param.pageNum!=null">LIMIT #{param.start},#{param.pageNum}</if>-->
    <!--</select>-->


    <!--<select id="getEntitysCount" parameterType="map" resultType="int">-->
    <!--SELECT count(*) FROM-->
    <!--openapi_interface_request_param-->
    <!--<where>-->
    <!--<include refid="compareParamColumns" />-->
    <!--</where>-->
    <!--</select>-->
    <!---->
    <!--<sql id="compareParamColumns">-->
    <!--1-->
    <!--        <if test="param.id!=null">
            AND  id = #{param.id}
        </if>
        <if test="param.interfaceId!=null">
            AND  interface_id = #{param.interfaceId}
        </if>
        <if test="param.typeCode!=null">
            AND  type_code = #{param.typeCode}
        </if>
        <if test="param.description!=null">
            AND  description = #{param.description}
        </if>
        <if test="param.isDelete!=null">
            AND  is_delete = #{param.isDelete}
        </if>
        <if test="param.parentId!=null">
            AND  parent_id = #{param.parentId}
        </if>
        <if test="param.createTime!=null">
            AND  create_time = #{param.createTime}
        </if>
        <if test="param.modifyTime!=null">
            AND  modify_time = #{param.modifyTime}
        </if>
-->
    <!--</sql>-->

</mapper>
