<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insigma.mapper.OpenapiAppInterfaceMapper">

    <resultMap id="BASE-RESULT" type="com.insigma.facade.openapi.po.OpenapiAppInterface">
                <result property="id" column="id" />
        <result property="appId" column="app_id" />
        <result property="interfaceId" column="interface_id" />
        <result property="sourceType" column="source_type" />
        <result property="useReason" column="use_reason" />
        <result property="isDelete" column="is_delete" />
        <result property="isAudit" column="is_audit" />
        <result property="createTime" column="create_time" />
        <result property="modifyTime" column="modify_time" />

    </resultMap>
    <select id="getOpenapiAppInterfaceList" resultMap="BASE-RESULT">
    SELECT * FROM
    openapi_app_interface oai left join openapi_interface oi on oai.interface_id=oi.id
    <where>
        oai.app_id = #{appId} and oi.is_delete=0 and oai.is_delete=0
        <if test="sourceType!=null">
            AND oai.source_type  = #{sourceType}
        </if>
        <if test="keyword!=null">
            AND  (oi.name like CONCAT('%',#{keyword},'%') or oi.out_url like CONCAT('%',#{keyword},'%') or command_code like CONCAT('%',#{keyword},'%') or oi.code like CONCAT('%',#{keyword},'%'))
        </if>
    </where>
    </select>
    <!--<insert id="insert" parameterType="com.insigma.facade.po.OpenapiAppInterface">-->
    <!--INSERT INTO openapi_app_interface ( -->
    <!--app_id,interface_id,source_type,use_reason,is_delete,is_audit,create_time,modify_time			-->
    <!--) VALUES (-->
    <!--#{appId},#{interfaceId},#{sourceType},#{useReason},#{isDelete},#{isAudit},#{createTime},#{modifyTime}		-->
    <!--)   -->
    <!--<selectKey resultType="Integer" keyProperty="id">    -->
    <!--SELECT LAST_INSERT_ID()     -->
    <!--</selectKey> -->
    <!--</insert>-->
    <!---->
    <!--<update id="update" parameterType="com.insigma.facade.po.OpenapiAppInterface" >-->
    <!--UPDATE-->
    <!--openapi_app_interface-->
    <!--SET-->
    <!--            <if test="id!=null"> id = #{id} </if>
            <if test="appId!=null">, app_id = #{appId} </if>
            <if test="interfaceId!=null">, interface_id = #{interfaceId} </if>
            <if test="sourceType!=null">, source_type = #{sourceType} </if>
            <if test="useReason!=null">, use_reason = #{useReason} </if>
            <if test="isDelete!=null">, is_delete = #{isDelete} </if>
            <if test="isAudit!=null">, is_audit = #{isAudit} </if>
            <if test="createTime!=null">, create_time = #{createTime} </if>
            <if test="modifyTime!=null">, modify_time = #{modifyTime} </if>
-->
    <!--<where>-->
    <!--id = #{id}-->
    <!--</where>-->
    <!--</update>-->
    <!---->
    <!---->

    <!---->
    <!--<delete id="deleteByKey">-->
    <!--DELETE FROM-->
    <!--openapi_app_interface-->
    <!--<where>-->
    <!--id = #{key}-->
    <!--</where>-->
    <!--</delete>-->
    <!---->
    <!--<select id="findEntitys" parameterType="map" resultMap="BASE-RESULT">-->
    <!--SELECT * FROM-->
    <!--openapi_app_interface-->
    <!--<where>-->
    <!--<include refid="compareParamColumns" />-->
    <!--</where>-->
    <!--<if test="param.orderByStr!=null">-->
    <!--order by ${param.orderByStr}-->
    <!--</if>-->
    <!--<if test="param.start!=null and param.pageNum!=null">LIMIT #{param.start},#{param.pageNum}</if>-->
    <!--</select>-->


    <!--<select id="getEntitysCount" parameterType="map" resultType="int">-->
    <!--SELECT count(*) FROM-->
    <!--openapi_app_interface-->
    <!--<where>-->
    <!--<include refid="compareParamColumns" />-->
    <!--</where>-->
    <!--</select>-->
    <!---->
    <!--<sql id="compareParamColumns">-->
    <!--1-->
    <!--        <if test="param.id!=null">
            AND  id = #{param.id}
        </if>
        <if test="param.appId!=null">
            AND  app_id = #{param.appId}
        </if>
        <if test="param.interfaceId!=null">
            AND  interface_id = #{param.interfaceId}
        </if>
        <if test="param.sourceType!=null">
            AND  source_type = #{param.sourceType}
        </if>
        <if test="param.useReason!=null">
            AND  use_reason = #{param.useReason}
        </if>
        <if test="param.isDelete!=null">
            AND  is_delete = #{param.isDelete}
        </if>
        <if test="param.isAudit!=null">
            AND  is_audit = #{param.isAudit}
        </if>
        <if test="param.createTime!=null">
            AND  create_time = #{param.createTime}
        </if>
        <if test="param.modifyTime!=null">
            AND  modify_time = #{param.modifyTime}
        </if>
-->
    <!--</sql>-->

</mapper>
