<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insigma.mapper.ProjectMapper" >
	<resultMap id="Project" type="com.insigma.po.Project" >
		<!--
		  @haoxz11MyBatis
		  系统用户表表
		-->
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="project_name" property="projectName" jdbcType="VARCHAR" />
		<result column="project_no" property="projectNo" jdbcType="VARCHAR" />
		<result column="project_type" property="projectType" jdbcType="VARCHAR" />
		<result column="project_model" property="projectModel" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<select id="getByPrimaryKey" resultMap="Project" parameterType="java.lang.Long" >
		<!--
		  @haoxz11MyBatis
		  根据主键查询系统用户表记录
		-->
		select  * from project where id = #{id,jdbcType=BIGINT}
	</select>
	
	<select id="getProjectList" resultMap="Project" parameterType="map" >
		<!--
		  @haoxz11MyBatis
		  根据主键查询系统用户表记录
		-->
		select  * from project 
		<where>
			<if test="projectName != null and projectName != '' ">
				and project_name = #{projectName}
			</if>
			<if test="projectType != null and projectType != ''">
				and project_type = #{projectType}
			</if>
		</where>
	</select>
	<insert id="insertProject" parameterType="com.insigma.po.Project" useGeneratedKeys="true">
		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into project(project_name,project_no,project_type,project_model) 
		vlaues(#{projectName,jdbcType=VARCHAR},#{projectNo,jdbcType=VARCHAR},#{projectType,jdbcType=VARCHAR},#{projectModel,jdbcType=VARCHAR})
	</insert>
	
	
</mapper>