<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">


	<!-- jxm test eg -->

	<!--	<bean id="projectImpl" class="com.insigma.impl.ProjectImpl" />-->
	<!--	<dubbo:service interface="com.insigma.facade.socket.ProjectFacade" ref="projectImpl"-->
	<!--				   version="1.0.1.gzd" delay="-1" retries="0"  />-->

<!--	<bean id="interfaceServiceImpl" class="com.insigma.impl.InterfaceServiceImpl" />-->
<!--	<dubbo:service interface="com.insigma.facade.socket.facade.InterfaceFacade" ref="interfaceServiceImpl"-->
<!--				   version="1.0.1.gzd" delay="-1" retries="0"  />-->

<!--	&lt;!&ndash;<bean id="socketInterfaceGroupServiceImpl" class="com.insigma.impl.socketInterfaceGroupServiceImpl" />&ndash;&gt;-->
<!--	&lt;!&ndash;<dubbo:service interface="com.insigma.facade.socket.facade.socketInterfaceGroupFacade" ref="socketInterfaceGroupServiceImpl"&ndash;&gt;-->
<!--	&lt;!&ndash;version="1.0.1.gzd" delay="-1" retries="0"  />&ndash;&gt;-->

<!--	<bean id="socketAppServiceImpl" class="com.insigma.impl.socketAppServiceImpl" />-->
<!--	<dubbo:service interface="com.insigma.facade.socket.facade.socketAppFacade" ref="socketAppServiceImpl"-->
<!--				   version="1.0.1.gzd" delay="-1" retries="0"  />-->

<!--	<bean id="socketInterfaceTypeServiceImpl" class="com.insigma.impl.socketInterfaceTypeServiceImpl" />-->
<!--	<dubbo:service interface="com.insigma.facade.socket.facade.socketInterfaceTypeFacade" ref="socketInterfaceTypeServiceImpl"-->
<!--				   version="1.0.1.gzd" delay="-1" retries="0"  />-->

<!--	<bean id="socketInterfaceHistoryServiceImpl" class="com.insigma.impl.socketInterfaceHistoryServiceImpl" />-->
<!--	<dubbo:service interface="com.insigma.facade.socket.facade.socketInterfaceHistoryFacade" ref="socketInterfaceHistoryServiceImpl"-->
<!--				   version="1.0.1.gzd" delay="-1" retries="0"  />-->

<!--	<bean id="socketEarlyWarningServiceImpl" class="com.insigma.impl.socketEarlyWarningServiceImpl" />-->
<!--	<dubbo:service interface="com.insigma.facade.socket.facade.socketEarlyWarningFacade" ref="socketEarlyWarningServiceImpl"-->
<!--				   version="1.0.1.gzd" delay="-1" retries="0"  />-->


<!--	<bean id="socketBlackWhiteServiceImpl" class="com.insigma.impl.socketBlackWhiteServiceImpl" />-->
<!--	<dubbo:service interface="com.insigma.facade.socket.facade.socketBlackWhiteFacade" ref="socketBlackWhiteServiceImpl"-->
<!--				   version="1.0.1.gzd" delay="-1" retries="0"  />-->

<!--	<bean id="socketAuditServiceImpl" class="com.insigma.impl.socketAuditServiceImpl" />-->
<!--	<dubbo:service interface="com.insigma.facade.socket.facade.socketAuditFacade" ref="socketAuditServiceImpl"-->
<!--				   version="1.0.1.gzd" delay="-1" retries="0"  />-->

<!--	<bean id="socketAppTypeServiceImpl" class="com.insigma.impl.socketAppTypeServiceImpl" />-->
<!--	<dubbo:service interface="com.insigma.facade.socket.facade.socketAppTypeFacade" ref="socketAppTypeServiceImpl"-->
<!--				   version="1.0.1.gzd" delay="-1" retries="0"  />-->

<!--	<bean id="socketAppInterfaceServiceImpl" class="com.insigma.impl.socketAppInterfaceServiceImpl" />-->
<!--	<dubbo:service interface="com.insigma.facade.socket.facade.socketAppInterfaceFacade" ref="socketAppInterfaceServiceImpl"-->
<!--				   version="1.0.1.gzd" delay="-1" retries="0"  />-->

<!--	<bean id="socketMonitoringDataConfigServiceImpl" class="com.insigma.impl.socketMonitoringDataConfigServiceImpl" />-->
<!--	<dubbo:service interface="com.insigma.facade.socket.facade.socketMonitoringDataConfigFacade" ref="socketMonitoringDataConfigServiceImpl"-->
<!--				   version="1.0.1.gzd" delay="-1" retries="0"  />-->


<!--	<bean id="socketDictionaryServiceImpl" class="com.insigma.impl.socketDictionaryServiceImpl" />-->
<!--	<dubbo:service interface="com.insigma.facade.socket.facade.socketDictionaryFacade" ref="socketDictionaryServiceImpl"-->
<!--				   version="1.0.1.gzd" delay="-1" retries="0"  />-->

<!--	<bean id="socketOrgServiceImpl" class="com.insigma.impl.socketOrgServiceImpl" />-->
<!--	<dubbo:service interface="com.insigma.facade.socket.facade.socketOrgFacade" ref="socketOrgServiceImpl"-->
<!--				   version="1.0.1.gzd" delay="-1" retries="0"  />-->

<!--	<bean id="socketSelfmachineServiceImpl" class="com.insigma.impl.socketSelfmachineServiceImpl" />-->
<!--	<dubbo:service interface="com.insigma.facade.socket.facade.socketSelfmachineFacade" ref="socketSelfmachineServiceImpl"-->
<!--				   version="1.0.1.gzd" delay="-1" retries="0"  />-->
<!--	<bean id="socketSelfmachineRequestServiceImpl" class="com.insigma.impl.socketSelfmachineRequestServiceImpl" />-->
<!--	<dubbo:service interface="com.insigma.facade.socket.facade.socketSelfmachineRequestFacade" ref="socketSelfmachineRequestServiceImpl"-->
<!--				   version="1.0.1.gzd" delay="-1" retries="0"  />-->

<!--	<bean id="socketOrgShortnameServiceImpl" class="com.insigma.impl.socketOrgShortnameServiceImpl" />-->
<!--	<dubbo:service interface="com.insigma.facade.socket.facade.socketOrgShortnameFacade" ref="socketOrgShortnameServiceImpl"-->
<!--				   version="1.0.1.gzd" delay="-1" retries="0"  />-->

<!--	<bean id="socketSelfmachineAddressServiceImpl" class="com.insigma.impl.socketSelfmachineAddressServiceImpl" />-->
<!--	<dubbo:service interface="com.insigma.facade.socket.facade.socketSelfmachineAddressFacade" ref="socketSelfmachineAddressServiceImpl"-->
<!--				   version="1.0.1.gzd" delay="-1" retries="0"  />-->

<!--	<bean id="socketSelfmachineTypeServiceImpl" class="com.insigma.impl.socketSelfmachineTypeServiceImpl" />-->
<!--	<dubbo:service interface="com.insigma.facade.socket.facade.socketSelfmachineTypeFacade" ref="socketSelfmachineTypeServiceImpl"-->
<!--				   version="1.0.1.gzd" delay="-1" retries="0"  />-->
</beans>