<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">


	<!-- jxm test eg -->

	<!--	<bean id="projectImpl" class="com.insigma.impl.ProjectImpl" />-->
	<!--	<dubbo:service interface="com.insigma.facade.qrcodebase.ProjectFacade" ref="projectImpl"-->
	<!--				   version="1.0.1.gzd" delay="-1" retries="0"  />-->

<!--	<bean id="interfaceServiceImpl" class="com.insigma.impl.InterfaceServiceImpl" />-->
<!--	<dubbo:service interface="com.insigma.facade.qrcodebase.facade.InterfaceFacade" ref="interfaceServiceImpl"-->
<!--				   version="1.0.1.gzd" delay="-1" retries="0"  />-->

<!--	&lt;!&ndash;<bean id="qrcodebaseInterfaceGroupServiceImpl" class="com.insigma.impl.qrcodebaseInterfaceGroupServiceImpl" />&ndash;&gt;-->
<!--	&lt;!&ndash;<dubbo:service interface="com.insigma.facade.qrcodebase.facade.qrcodebaseInterfaceGroupFacade" ref="qrcodebaseInterfaceGroupServiceImpl"&ndash;&gt;-->
<!--	&lt;!&ndash;version="1.0.1.gzd" delay="-1" retries="0"  />&ndash;&gt;-->

<!--	<bean id="qrcodebaseAppServiceImpl" class="com.insigma.impl.qrcodebaseAppServiceImpl" />-->
<!--	<dubbo:service interface="com.insigma.facade.qrcodebase.facade.qrcodebaseAppFacade" ref="qrcodebaseAppServiceImpl"-->
<!--				   version="1.0.1.gzd" delay="-1" retries="0"  />-->

<!--	<bean id="qrcodebaseInterfaceTypeServiceImpl" class="com.insigma.impl.qrcodebaseInterfaceTypeServiceImpl" />-->
<!--	<dubbo:service interface="com.insigma.facade.qrcodebase.facade.qrcodebaseInterfaceTypeFacade" ref="qrcodebaseInterfaceTypeServiceImpl"-->
<!--				   version="1.0.1.gzd" delay="-1" retries="0"  />-->

<!--	<bean id="qrcodebaseInterfaceHistoryServiceImpl" class="com.insigma.impl.qrcodebaseInterfaceHistoryServiceImpl" />-->
<!--	<dubbo:service interface="com.insigma.facade.qrcodebase.facade.qrcodebaseInterfaceHistoryFacade" ref="qrcodebaseInterfaceHistoryServiceImpl"-->
<!--				   version="1.0.1.gzd" delay="-1" retries="0"  />-->

<!--	<bean id="qrcodebaseEarlyWarningServiceImpl" class="com.insigma.impl.qrcodebaseEarlyWarningServiceImpl" />-->
<!--	<dubbo:service interface="com.insigma.facade.qrcodebase.facade.qrcodebaseEarlyWarningFacade" ref="qrcodebaseEarlyWarningServiceImpl"-->
<!--				   version="1.0.1.gzd" delay="-1" retries="0"  />-->


<!--	<bean id="qrcodebaseBlackWhiteServiceImpl" class="com.insigma.impl.qrcodebaseBlackWhiteServiceImpl" />-->
<!--	<dubbo:service interface="com.insigma.facade.qrcodebase.facade.qrcodebaseBlackWhiteFacade" ref="qrcodebaseBlackWhiteServiceImpl"-->
<!--				   version="1.0.1.gzd" delay="-1" retries="0"  />-->

<!--	<bean id="qrcodebaseAuditServiceImpl" class="com.insigma.impl.qrcodebaseAuditServiceImpl" />-->
<!--	<dubbo:service interface="com.insigma.facade.qrcodebase.facade.qrcodebaseAuditFacade" ref="qrcodebaseAuditServiceImpl"-->
<!--				   version="1.0.1.gzd" delay="-1" retries="0"  />-->

<!--	<bean id="qrcodebaseAppTypeServiceImpl" class="com.insigma.impl.qrcodebaseAppTypeServiceImpl" />-->
<!--	<dubbo:service interface="com.insigma.facade.qrcodebase.facade.qrcodebaseAppTypeFacade" ref="qrcodebaseAppTypeServiceImpl"-->
<!--				   version="1.0.1.gzd" delay="-1" retries="0"  />-->

<!--	<bean id="qrcodebaseAppInterfaceServiceImpl" class="com.insigma.impl.qrcodebaseAppInterfaceServiceImpl" />-->
<!--	<dubbo:service interface="com.insigma.facade.qrcodebase.facade.qrcodebaseAppInterfaceFacade" ref="qrcodebaseAppInterfaceServiceImpl"-->
<!--				   version="1.0.1.gzd" delay="-1" retries="0"  />-->

<!--	<bean id="qrcodebaseMonitoringDataConfigServiceImpl" class="com.insigma.impl.qrcodebaseMonitoringDataConfigServiceImpl" />-->
<!--	<dubbo:service interface="com.insigma.facade.qrcodebase.facade.qrcodebaseMonitoringDataConfigFacade" ref="qrcodebaseMonitoringDataConfigServiceImpl"-->
<!--				   version="1.0.1.gzd" delay="-1" retries="0"  />-->


<!--	<bean id="qrcodebaseDictionaryServiceImpl" class="com.insigma.impl.qrcodebaseDictionaryServiceImpl" />-->
<!--	<dubbo:service interface="com.insigma.facade.qrcodebase.facade.qrcodebaseDictionaryFacade" ref="qrcodebaseDictionaryServiceImpl"-->
<!--				   version="1.0.1.gzd" delay="-1" retries="0"  />-->

<!--	<bean id="qrcodebaseOrgServiceImpl" class="com.insigma.impl.qrcodebaseOrgServiceImpl" />-->
<!--	<dubbo:service interface="com.insigma.facade.qrcodebase.facade.qrcodebaseOrgFacade" ref="qrcodebaseOrgServiceImpl"-->
<!--				   version="1.0.1.gzd" delay="-1" retries="0"  />-->

<!--	<bean id="qrcodebaseSelfmachineServiceImpl" class="com.insigma.impl.qrcodebaseSelfmachineServiceImpl" />-->
<!--	<dubbo:service interface="com.insigma.facade.qrcodebase.facade.qrcodebaseSelfmachineFacade" ref="qrcodebaseSelfmachineServiceImpl"-->
<!--				   version="1.0.1.gzd" delay="-1" retries="0"  />-->
<!--	<bean id="qrcodebaseSelfmachineRequestServiceImpl" class="com.insigma.impl.qrcodebaseSelfmachineRequestServiceImpl" />-->
<!--	<dubbo:service interface="com.insigma.facade.qrcodebase.facade.qrcodebaseSelfmachineRequestFacade" ref="qrcodebaseSelfmachineRequestServiceImpl"-->
<!--				   version="1.0.1.gzd" delay="-1" retries="0"  />-->

<!--	<bean id="qrcodebaseOrgShortnameServiceImpl" class="com.insigma.impl.qrcodebaseOrgShortnameServiceImpl" />-->
<!--	<dubbo:service interface="com.insigma.facade.qrcodebase.facade.qrcodebaseOrgShortnameFacade" ref="qrcodebaseOrgShortnameServiceImpl"-->
<!--				   version="1.0.1.gzd" delay="-1" retries="0"  />-->

<!--	<bean id="qrcodebaseSelfmachineAddressServiceImpl" class="com.insigma.impl.qrcodebaseSelfmachineAddressServiceImpl" />-->
<!--	<dubbo:service interface="com.insigma.facade.qrcodebase.facade.qrcodebaseSelfmachineAddressFacade" ref="qrcodebaseSelfmachineAddressServiceImpl"-->
<!--				   version="1.0.1.gzd" delay="-1" retries="0"  />-->

<!--	<bean id="qrcodebaseSelfmachineTypeServiceImpl" class="com.insigma.impl.qrcodebaseSelfmachineTypeServiceImpl" />-->
<!--	<dubbo:service interface="com.insigma.facade.qrcodebase.facade.qrcodebaseSelfmachineTypeFacade" ref="qrcodebaseSelfmachineTypeServiceImpl"-->
<!--				   version="1.0.1.gzd" delay="-1" retries="0"  />-->
</beans>